* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #2E2F2F;
  --accent: #0582CA;
  --background: #DBDBDB;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(3vmin + 4px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--primary);
}

button {
  font: inherit;
}