* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: black;
  --background: white;
}

body {
  font-family: sans-serif;
  font-size: calc(3vmin + 4px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}