nav {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--primary);
    color: var(--background);
    align-items: center;
    justify-content: space-evenly;
    padding: 1vh 0;
    font-size: 1.2rem;
}

nav section {
    display: flex;
}

nav:nth-child(1) * {
    margin: 0 2vw;
}

nav .link {
    color: var(--background);
    text-decoration: none;
    text-transform: uppercase;
    transition: ease 100ms;
}

nav .link:hover {
    color: var(--accent);
}

nav .account-area .link {
    display: flex;
    align-items: center;
}
nav .logo {
    height: 60px;
}